<div class="uk-container">

  <div *ngIf="errorMessage" class="uk-align-center uk-width-1-3@m uk-alert uk-alert-danger">
    <!--<button class="uk-alert-close" (click)="removeAlert()" uk-close></button>-->
    <a class="uk-alert-close" uk-close></a>
    <p>{{errorMessage}}</p>
  </div>

  <form *ngIf="types" [formGroup]="newIncidentForm" class="uk-form-stacked uk-grid ">

    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="TypeofServiceRequest">Request type:</label>
      <div class="uk-form-controls">
        <select class="uk-input" id="TypeofServiceRequest" formControlName="TypeofServiceRequest"
                (change)="onTypeSelect($event)">
          <option value="null" selected hidden>Select request type</option>
          <option *ngFor="let type of types" [value]=type.type>{{type.type}}</option>
        </select>
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="StreetAddress">StreetAddress</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="StreetAddress" type="text" formControlName="StreetAddress">
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="ZIPCode">ZIPCode</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="ZIPCode" type="number" formControlName="ZIPCode">
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="Ward">Ward</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="Ward" type="number" formControlName="Ward">
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="PoliceDistrict">PoliceDistrict</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="PoliceDistrict" type="number" formControlName="PoliceDistrict">
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="CommunityArea">CommunityArea</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="CommunityArea" type="number" formControlName="CommunityArea">
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="lon">Longitude</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="lon" type="text" formControlName="Longitude">
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <label class="uk-form-label" for="lat">Latitude</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="lat" type="text" formControlName="Latitude">
      </div>
    </div>

    <form *ngIf="this.formType === 'Abandoned Vehicle Complaint'
      || this.formType === 'Pothole in Street'
      || this.formType === 'Rodent Baiting/Rat Complaint'
      || this.formType === 'Tree Debris'
      || this.formType === 'Garbage Cart Black Maintenance/Replacement'"
          [formGroup]="curActivityActionForm" class="uk-form-stacked uk-width-1-1@m">
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="curActivity">Current Activity</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="curActivity" type="text" formControlName="CurrentActivity">
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="MostRecentAction">MostRecentAction</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="MostRecentAction" type="text" formControlName="MostRecentAction">
        </div>
      </div>
    </form>

    <form *ngIf="this.formType === 'Abandoned Vehicle Complaint'
      || this.formType === 'Pothole in Street'
      || this.formType === 'Garbage Cart Black Maintenance/Replacement'
      || this.formType === 'Graffiti Removal'"
          [formGroup]="ssaForm" class="uk-form-stacked uk-width-1-1@m">
      <div class="uk-width-1-3@m">
        <label class="uk-form-label" for="ssa">SSA</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ssa" type="text" formControlName="ssa">
        </div>
      </div>
    </form>

    <form *ngIf="formType === 'Tree Debris' || formType === 'Tree Trim'"
          [formGroup]="treeLocationForm" class="uk-form-stacked uk-width-1-1@m">
      <div class="uk-width-1-3@m">
        <label class="uk-form-label" for="Location">Location</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Location" type="text" formControlName="location">
        </div>
      </div>
    </form>

    <form *ngIf="this.formType === 'Abandoned Vehicle Complaint'"
          [formGroup]="abandonedVehiclesForm" class="uk-form-stacked uk-width-1-1@m">
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="licenseplate">licenseplate</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="licenseplate" type="text" formControlName="licenseplate">
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="vehiclemakemodel">vehiclemakemodel</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="vehiclemakemodel" type="text" formControlName="vehiclemakemodel">
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="vehiclecolor">vehiclecolor</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="vehiclecolor" type="text" formControlName="vehiclecolor">
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="daysparked">daysparked</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="daysparked" type="text" formControlName="daysparked">
        </div>
      </div>
    </form>

    <form *ngIf="formType === 'Garbage Cart Black Maintenance/Replacement'"
          [formGroup]="garbageCartForm" class="uk-form-stacked uk-width-1-1@m">
      <div class="uk-width-1-1@m">
        <label class="uk-form-label" for="NumberOfBlackCartsDelivered">NumberOfBlackCartsDelivered</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="NumberOfBlackCartsDelivered" type="number" step="1"
                 formControlName="NumberOfBlackCartsDelivered">
        </div>
      </div>
    </form>

    <form *ngIf="this.formType === 'Graffiti Removal'"
          [formGroup]="graffitiForm" class="uk-form-stacked uk-width-1-1@m ">
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="Surface">Surface</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Surface" type="text" formControlName="Surface">
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <label class="uk-form-label" for="GraffitiLocation">GraffitiLocation</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="GraffitiLocation" type="text" formControlName="GraffitiLocation">
        </div>
      </div>
    </form>

    <form *ngIf="formType === 'Pothole in Street'"
          [formGroup]="potholesForm" class="uk-form-stacked uk-width-1-1@m">
      <div class="uk-width-1-1@m">
        <label class="uk-form-label" for="PotholesFilledOnBlock">PotholesFilledOnBlock</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="PotholesFilledOnBlock" type="number" step="1"
                 formControlName="PotholesFilledOnBlock">
        </div>
      </div>
    </form>

  </form>


  <div id="map" class="map uk-margin"></div>

  <div>
    <button class="uk-button-primary uk-margin-top" (click)="submitIncident()">Submit</button>
  </div>


</div>
{{newIncidentForm.value | json}}
<div *ngIf="treeLocationForm">
  LOCATION
  {{treeLocationForm.value | json}}
</div>
test
{{submitForm.value | json}}

<div id="Xcoordinate" #Xcoordinate style="display: none"></div>
<div id="Ycoordinate" #Ycoordinate style="display: none"></div>
<div id="Latitude" #Latitude style="display: none"></div>
<div id="Longitude" #Longitude style="display: none"></div>
