<!--<p>Boom shakalaka</p>
The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
<!--</div>-->
<div class="uk-width-1-1@m">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center" style="left: 45%">
      <a href="" class="uk-navbar-item uk-logo">Welcome to {{ title }}!</a>
    </div>
    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a (click)="userNameClick()">{{userName()}}</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-active"><a (click)="userAction()">{{action}}</a></li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
  </nav>
</div>
<main role="main" class=" ml-sm-auto col-lg-10 px-4">
  <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
    <router-outlet></router-outlet>
  </div>
</main>

