<div class="uk-grid" uk-grid>

  <div class="uk-width-1-4@m uk-height-1-1">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title">C311</h3>
      <ul class="uk-nav uk-nav-side">
        <li><a routerLink="/home/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" routerLinkActive="active">Stored function</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" routerLinkActive="active">insert a new incident</a></li>
        <li class="uk-nav-divider"></li>
        <li><a  routerLink="/home/searchForIncidents" routerLinkActive="active">search for incidents</a></li>
      </ul>
    </div>
  </div>

  <div class="uk-width-3-4@m uk-padding-remove-left">
  <div class="uk-container uk-margin-medium">
    <div class="uk-grid uk-align-center" uk-grid>

      <router-outlet></router-outlet>

    </div>
  </div>
  </div>
</div>
