<div class="uk-grid" uk-grid>

  <div class="uk-width-1-4@m">
    <div class="uk-panel uk-border-rounded uk-background-muted">
      <h3 class="uk-panel-title uk-margin-left">C311</h3>
    <ul class="uk-nav-default uk-nav-parent-icon uk-nav-side uk-margin-left" uk-nav="multiple: false">
      <li><a routerLink="/home/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li class="uk-nav-divider"></li>
      <li class="uk-parent">
        <a href="#" routerLinkActive="active">Stored functions</a>
        <ul class="uk-nav-sub">
          <li><a routerLink="/home/storedFunction/totalRequestPerType">Find total request per type</a></li>
          <li><a routerLink="/home/storedFunction/totalRequestPerDay">Find total request per day</a></li>
          <li><a routerLink="/home/storedFunction/zipCodeTopRequests">Find top request per zipCode</a></li>
        </ul>
      </li>
      <li class="uk-nav-divider"></li>
      <li><a href="#" routerLinkActive="active">insert a new incident</a></li>
      <li class="uk-nav-divider"></li>
      <li><a  routerLink="/home/searchForIncidents" routerLinkActive="active">search for incidents</a></li>
    </ul>
    </div>
  </div>

  <div class="uk-width-3-4@m uk-padding-remove-left">
  <div class="uk-container uk-margin-medium">
    <div class="uk-grid uk-align-center" uk-grid>

      <router-outlet></router-outlet>

    </div>
  </div>
  </div>
</div>
