<div class="uk-container">

  <span>Find  the  total  requests  per  type  that  were  created  within  a  specified  time  range  and  sort
  them in a descending order.</span>
  <form [formGroup]="requestForm" class="uk-form">
    <label class="uk-margin-right" for="fromDate">From date:</label>
    <input id="fromDate" type="date" formControlName="fromDate">
    <label class="uk-margin-right uk-margin-left" for="toDate">To date:</label>
    <input id="toDate" type="date" formControlName="toDate">
    <button class="uk-button-primary uk-margin-left" (click)="submitRequest()">send</button>

    <div class="uk-margin-top" *ngIf="results">
      <table class="uk-table uk-table-small uk-table-striped uk-text-center">
        <thead>
        <tr class="uk-text-center">
          <th class="uk-width-medium uk-text-center">request type</th>
          <th class="uk-width-small uk-text-center">count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of results">
          <td>{{result[0]}}</td>
          <td>{{result[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
  <div *ngIf="loading" class="uk-overlay-default uk-position-cover"></div>
  <div *ngIf="loading" class="uk-overlay uk-dark">
    <div class="uk-position-center" uk-spinner="ratio: 3"></div>
  </div>
</div>
