<div class="uk-container uk-text-center">

  <span>Find the total requests per day for a specific request type and time range.</span>
  <form *ngIf="types" [formGroup]="requestForm" class="uk-form uk-form-horizontal uk-text-left uk-margin">
    <div class="">
    <label class="uk-margin-right" for="requestType">Request type:</label>
    <select id="requestType" formControlName="requestType" >
      <option value="null" selected disabled hidden>Select request type</option>
      <option *ngFor="let type of types" [value]=type.type>{{type.type}}</option>
    </select>
    </div>

    <div>
    <label class="uk-margin-left uk-margin-right" for="startTime">Start time:</label>
    <input id="startTime" type="time" step="1" formControlName="startTime">
    </div>
    <label class="uk-margin-left uk-margin-right" for="endTime">End time:</label>
    <input id="endTime" type="time" step="1" formControlName="endTime">
    <button class="uk-button-primary uk-margin-left" (click)="submitRequest()">Search</button>
  </form>

  <div *ngIf="errorMessage" class="uk-align-center uk-width-1-3@m uk-alert uk-alert-danger">
    <!--<button class="uk-alert-close" (click)="removeAlert()" uk-close></button>-->
    <a class="uk-alert-close" uk-close></a>
    <p>{{errorMessage}}</p>
  </div>

  <div class="uk-margin-top" *ngIf="results && getViewList().length > 0">

    <div class="uk-text-center">
      <a class="uk-margin-right" (click)="first()"> <i class="fas fa-angle-double-left fa-lg"></i> </a>
      <a class="uk-margin-right" (click)="previous()"> <i class="fas fa-angle-left fa-lg"></i> </a>
      <span class="uk-margin-right" style="font-size: 16px">{{currentPage}}</span>
      <a class="uk-margin-right" (click)="next()"><i class="fas fa-angle-right fa-lg"></i> </a>
      <a class="uk-margin-right" (click)="last()"><i class="fas fa-angle-double-right fa-lg"></i> </a>
    </div>

    <table class="uk-table uk-table-small uk-table-striped uk-text-center">
      <thead>
      <tr class="uk-text-center">
        <th class="uk-width-medium uk-text-center">request type</th>
        <th class="uk-width-small uk-text-center">count</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let result of getViewList()">
        <td>{{result[0] | date: 'medium'}}</td>
        <td>{{result[1]}}</td>
      </tr>
      </tbody>
    </table>

    <div class="uk-text-center">
      <a class="uk-margin-right" (click)="first()"> <i class="fas fa-angle-double-left fa-lg"></i> </a>
      <a class="uk-margin-right" (click)="previous()"> <i class="fas fa-angle-left fa-lg"></i> </a>
      <span class="uk-margin-right" style="font-size: 16px">{{currentPage}}</span>
      <a class="uk-margin-right" (click)="next()"><i class="fas fa-angle-right fa-lg"></i> </a>
      <a class="uk-margin-right" (click)="last()"><i class="fas fa-angle-double-right fa-lg"></i> </a>
    </div>
  </div>
  <div *ngIf="loading" class="uk-overlay-default uk-position-cover"></div>
  <div *ngIf="loading" class="uk-overlay uk-dark">
    <div class="uk-position-center" uk-spinner="ratio: 3"></div>
  </div>

  <div class="uk-margin-top" *ngIf="results && getViewList().length === 0">
    <span>No results were found for this input</span>
  </div>

</div>

<!--{{requestForm.value | json}}-->
